<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
	<!--
	<div class="row form-group">
		<label class="form-control-static col-lg-1 col-lg-offset-1">
			ค้นหา
		</label> 
		<div class="col-lg-3">
			<input class="form-control" ng-model="condition.keyword">
		</div>
		<label class="form-control-static col-lg-1" ng-show="MasterList.length > 0">
			แสดงข้อมูล
		</label> 
		<div class="col-lg-2" ng-show="MasterList.length > 0">
			<select class="form-control" ng-model="condition.type" ng-options="data.type_name as data.type_name for data in MasterList">
				<option value="">ทั้งหมด</option>
			</select>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-primary" ng-click="search(condition)"> <span class="glyphicon glyphicon-search"></span> ค้นหา</button>
		</div>
	</div>
	-->
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<span class="title-content">
				<h2>{{(DEFAULT_LANGUAGE == 'TH'?MenuName[MenuName.length - 1].menu_name_th:MenuName[MenuName.length - 1].menu_name_en)}}</h2>
			</span>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<img src="../files/img/header_line.png" style="width: 70%;">
		</div>
	</div>
	<div class="row form-group" >
		<div class="col-lg-10 col-lg-offset-1">
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<caption>
						<h4>คู่มือ:ด้านการตรวจสอบ และรับรอง</h4>
					</caption>
					<thead>
						<tr>
							<th>ชื่อเอกสาร</th>
							<th>ดาวน์โหลด</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in DataListPatrol">
							<td>{{data.AttachFiles[0].display_name}}</td>
							<td><a href="../{{data.AttachFiles[0].file_path}}" role="button" class="btn btn-default" download="{{data.AttachFiles[0].file_name}}"><span class="glyphicon glyphicon-download"></span></a></td>
						</tr>
					</tbody>
				</table>

				<br><br>

				<table class="table table-bordered table-striped">
					<caption>
						<h4>คู่มือ:การอนุญาต</h4>
					</caption>
					<thead>
						<tr>
							<th>ชื่อเอกสาร</th>
							<th>ดาวน์โหลด</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in DataListPermission">
							<td>{{data.AttachFiles[0].display_name}}</td>
							<td><a href="../{{data.AttachFiles[0].file_path}}" role="button" class="btn btn-default" download="{{data.AttachFiles[0].file_name}}"><span class="glyphicon glyphicon-download"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>