<div class="row">
    <div class="col-lg-12 setFooterBG" style="height:300px;">
        <ul id="list0">
            <li style="list-style:none;">
                <a href="#/sitemap">แผนผังเว็บไซต์</a>
            </li>
            <li style="list-style:none;">
                นโยบายเว็บไซต์
            </li>
            <li style="list-style:none;">
                นโยบายการคุ้มครองข้อมูลส่วนบุคคล
            </li>
            <li style="list-style:none;">
                นโยบายการรักษาความมั่นคงปลอดภัยเว็บไซต์
            </li>
        </ul>
        <div class="col-lg-12" id="boxFooter">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="row">
                        <div class="col-lg-5 col-xs-6 text-right">
                            <ul id="list1">
                                <li style="list-style:none;">ติดต่อสำนักรัฐมนตรี</li>
                                <li style="list-style:none;">กระทรวงการท่องเที่ยวและกีฬา</li>
                            </ul>
                        </div>
                        <div class="col-lg-7 col-xs-6 text-left" style="border-left:1px solid #999;">
                            <ul id="list2">
                                <li style="list-style:none;"> <span class="glyphicon glyphicon-phone" style="color: #C9C900; font-size: 1.5em;"></span> 0-2356-0732</li>
                                <li style="list-style:none;"><span class="glyphicon glyphicon-phone" style="color: #C9C900; font-size: 1.5em;"></span> 0-2356-0709</li>
                                <li style="list-style:none;"> <span class="glyphicon glyphicon-envelope" style="color: #C9C900; font-size: 1.5em;"></span> admin@mots.go.th</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" style="padding:5px; background-color:#beeaeb;">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-right">
                <ul id="list3">
                    <li style="list-style:none;"> สงวนลิขสิทธิ์ 2561 โดย กระทรวงการท่องเที่ยวและกีฬา</li>
                </ul>
            </div>
        </div>
    </div>
</div>
   <style>
       .setFooterBG {
           background-image: url('../files/img/footer.png');
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
       }
       @media (max-width:768px) {
           #list0 {
               width: 100%;
               height: 92px;
               text-align: center;
               padding-top: 50px;
               padding-bottom: 50px;
               margin: 100px 0 0 0;
               font-size:13px;
           }

               #list0 li {
                   display: inline-block;
                   *display: inline; /*IE7*/
                   *zoom: 1; /*IE7*/
                   color: #337ab7;
                   margin-right: 10px;
                   margin-bottom: 0;
                   padding-bottom: 0;
               }
        #list2{
            margin-top:20px;
        }
           #list2 li {
               display: inline-block;
               padding-right: 10px;
               font-size:13px;
           }
           #list1 {
               margin-top: 20px;
           }
           #list1 li {
               font-size: 13px;
           }

           #boxFooter {
               margin: 0 0 50px 0;
               padding: 10px 0 10px 0;
           }
        #list3{
            font-size:13px;
        }
       }

       @media (min-width:769px) {
           #list0 {
               width: 100%;
               height: 92px;
               text-align: center;
               padding-top:50px;
               padding-bottom:50px;
               
               margin:100px 0 0 0;
               
           }

               #list0 li {
                   display: inline-block;
                   *display: inline; /*IE7*/
                   *zoom: 1; /*IE7*/
                   color: #337ab7;
                   margin-right: 10px;
                   margin-bottom: 0;
                   padding-bottom: 0;
               }
           #list2 li {
               display: inline-block;
               padding-right: 10px;
           }
           #list1{
           }
           #boxFooter {
               margin:0 0 50px 0;
               padding: 10px 0 10px 0;
           }
       }
       
   </style>
