<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
	
	<div ng-show="PAGE == 'UPDATE'">
		<div class="row form-group">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row form-group">
					<label class="form-control-static col-lg-2">
						แบบสอบถามของมาตรฐาน
					</label>
					<div class="col-lg-3">
						<select class="form-control" ng-model="questionID" ng-options="data.questionnaireID as data.questionName for data in StandardQuestionnaireList" ng-change="setQuestionnaire(questionID)">
							<option value="">กรุณาเลือก..</option>
						</select>
					</div>
					
				</div>
				<div class="row form-group">
					<label class="form-control-static col-lg-2">
						ผู้แสดงความคิดเห็น
					</label>
					<div class="col-lg-3">
						<input class="form-control" ng-model="ResponseBy" placeholder="ชื่อ - สกุล">
					</div>
					
				</div>
				<div ng-show="ShowQuestion">
					<div class="row form-group">
						<div class="col-lg-12">
							<h4>{{Questionnaire.questionName}}</h4>
						</div>
					</div>

					<fieldset>
					  <legend>คำถาม</legend>
					   	<div class="row form-group" ng-repeat="data in Questionnaire.question">
					   		<div class="col-lg-12">
							   	<div class="row form-group">
								    <label class="col-lg-12  form-control-static">
								      คำถามที่ {{$index+1}}
								    </label>
								    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
								      {{data.question}}
								    </div>
								</div>
								<div class="row form-group">
								    <div class="col-lg-2">
								      <input id="agree{{data.questionID + $index}}" type="radio" ng-model="data.q_response" value="agree"> <label for="agree{{data.questionID + $index}}">เห็นด้วย </label>
								      <br>
								      <input id="disagree{{data.questionID + $index}}" type="radio" ng-model="data.q_response" value="disagree"> <label for="disagree{{data.questionID + $index}}">ไม่เห็นด้วย</label>
								    </div>
								    <div class="col-lg-10" ng-show="data.q_response == 'disagree'">
								    	<input class="form-control" ng-model="data.q_response_comment" maxlength="255" placeholder="หมายเหตุเพิ่มเติม">
								    </div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-lg-12 text-center">
								<button class="btn btn-default" ng-click="cancel()"> <span class="glyphicon glyphicon-arrow-left"></span> กลับ</button>
								<button class="btn btn-primary" ng-click="updateData(Questionnaire, ResponseBy)"> <span class="glyphicon glyphicon-floppy-save"></span> บันทึกความคิดเห็น</button>
					   		</div>
					   	</div>
					 </fieldset>

				</div>
				<div class="row form-group" ng-show="!ShowQuestion">
					<div class="col-lg-12 text-center">
						<button class="btn btn-default" ng-click="cancel()"> <span class="glyphicon glyphicon-arrow-left"></span> กลับ</button>
						
			   		</div>
			   	</div>
				
			</div>
		</div>
	</div>
	<div ng-show="PAGE == 'MAIN'">
		<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<span class="title-content">
				<h2>{{(DEFAULT_LANGUAGE == 'TH'?MenuName[MenuName.length - 1].menu_name_th:MenuName[MenuName.length - 1].menu_name_en)}}</h2>
			</span>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<img src="../files/img/header_line.png" style="width: 70%;">
		</div>
	</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<caption>
							<div class="row form-group">
								<div class="col-lg-3">
									<input class="form-control" ng-model="condition.keyword">
								</div>
								
								<div class="col-lg-2">
									<button class="btn btn-primary" ng-click="loadCommodityStandard(condition.keyword)"> <span class="glyphicon glyphicon-search"></span> ค้นหา</button>
								</div>
							</div>
						</caption>	
						<thead>
							<tr>
								<th>ชื่อมาตรฐานสินค้าเกษตร</th>
								<th>ประเภทมาตรฐาน</th>
								<th>รหัสมาตรฐาน</th>
								<th>แสดงความคิดเห็น</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in DataList">
								<td>{{data.standardNameThai}}</td>
								<td>{{data.standardType}}</td>
								<td>{{data.bookNumberThai}}</td>
								<td><button class="btn btn-primary" ng-click="updateResponse(data.standardID)">แสดงความคิดเห็น</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div ng-include src="'views/footer.html'"></div>
</div>