<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
	  <div class="col-lg-10">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
</div>
<div ng-show="PAGE == 'UPDATE'">
	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			ชนิดสินค้า(ไทย)
		</label> 
		<div class="col-lg-5">
			<input class="form-control" ng-model="Data.product_th">
		</div>
	</div>
	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			ชนิดสินค้า(อังกฤษ)
		</label> 
		<div class="col-lg-5">
			<input class="form-control" ng-model="Data.product_en">
		</div>
	</div>
	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			รหัส
		</label> 
		<div class="col-lg-3">
			<input class="form-control" ng-model="Data.code">
		</div>
	</div>
	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			ประเภทสินค้า
		</label> 
		<div class="col-lg-3">
			<select class="form-control" ng-model="Data.product_type">
				<option value="">กรุณาเลือก..</option>
				<option value="ปศุสัตว์">ปศุสัตว์</option>
				<option value="พืช">พืช</option>
				<option value="ประมง">ประมง</option>
			</select>
		</div>
		<label class="form-control-static col-lg-2">
			ประเภทสินค้าย่อย
		</label> 
		<div class="col-lg-3">
			<input class="form-control" ng-model="Data.product_subtype">
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-lg-12 text-center">
			<button class="btn btn-primary" ng-click="saveData(Data)">บันทึก</button>
			<button class="btn btn-default" ng-click="cancel('MAIN')">ยกเลิก</button>
		</div>
	</div>
</div>
<div ng-show="PAGE == 'MAIN'">
	<div class="row form-group">
		<table class="table table-bordered table-striped">
			<caption>
				<div class="row form-group">
					<label class="form-control-static col-lg-1">
						ประเภท
					</label> 
					<div class="col-lg-2">
						<select class="form-control" ng-model="condition.product_type">
							<option value="">กรุณาเลือก..</option>
							<option value="ปศุสัตว์">ปศุสัตว์</option>
							<option value="พืช">พืช</option>
							<option value="ประมง">ประมง</option>
						</select>
					</div>
					<div class="col-lg-3">
						<input class="form-control" ng-model="condition.keyword">
					</div>
					
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="loadList()"> <span class="glyphicon glyphicon-search"></span> ค้นหา</button>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-lg-12">
						<button class="btn btn-primary" ng-click="updateData(null)">เพิ่ม</button>
					</div>
				</div>
			</caption>	
			<thead>
				<tr>
					<th>ลำดับ</th>
					<th>ชนิดสินค้า</th>
					<th>รหัส</th>
					<th>ประเภทสินค้า</th>
					<th>แก้ไข</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="data in DataList">
					<td>{{$index + 1}}</td>
					<td>{{data.product_th}}</td>
					<td>{{data.code}}</td>
					<td>{{data.product_type}}</td>
					<td>
						<button class="btn btn-warning" ng-click="updateData(data)">แก้ไข</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>