<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>

	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<span class="title-content">
				<h2>{{(DEFAULT_LANGUAGE == 'TH'?MenuName[MenuName.length - 1].menu_name_th:MenuName[MenuName.length - 1].menu_name_en)}}</h2>
			</span>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<img src="../files/img/header_line.png" style="width: 70%;">
		</div>
	</div>
	

	<div class="row form-group" >
		<div class="col-lg-10 col-lg-offset-1">
			<ul>
				<li class="li-attach-file" ng-repeat="data in DataList" style="padding: 10px;">
					<img src="../files/img/attach-file.png" style="height: 2em;"> &nbsp; <a href="../{{data.AttachFiles[0].file_path}}">{{ data.AttachFiles[0].display_name == null || data.AttachFiles[0].display_name == ''?data.AttachFiles[0].file_name:data.AttachFiles[0].display_name }}</a></li>
			</ul>
			
		</div>
	</div>
	<div ng-include src="'views/footer.html'"></div>
</div>