<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
	  <div class="col-lg-10">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
</div>
<div class="row form-group">
	<div class="col-lg-12">
		<button class="btn btn-primary " ng-click="addFiles()"> เพิ่มไฟล์</button>
		<br>
		<br>
	</div>
	<div class="col-lg-12">
		<div class="row form-group" ng-repeat="fle in FileList">
			<div class="col-lg-12">
				<div class="row">
						<label class="form-control-static col-lg-2">
							ไฟล์ภาษาไทย
						</label>
						<div class="col-lg-4" >
							<p class="input-group">
			                  <input type="text" class="form-control" ng-model="FileName[$index].name_th"   />
			                  <span class="input-group-btn">
			                    <button class="btn btn-default" ngf-select ng-model="fle.attachFileTH" ngf-max-size="25MB"  ngf-model-invalid="fle.attachFileTH.invalidFile">เลือก</button>
			                    
			                  </span>
			                </p>
						</div>
						<label class="form-control-static col-lg-2">
							{{fle.attachFileTH.name}}
						</label>
						<div class="col-lg-3">
							<div class="file-alert" ng-show="fle.attachFileTH.invalidFile.$error === 'maxSize'">ขนาดไฟล์ต้องไม่เกิน : {{fle.attachFileTH.invalidFile.$errorParam}}</div>
						</div>
					</div>
					<div class="row">
						<label class="form-control-static col-lg-2">
							ไฟล์ภาษาอังกฤษ
						</label>
						<div class="col-lg-4" >
							<p class="input-group">
			                  <input type="text" class="form-control" ng-model="FileName[$index].name_en" />
			                  <span class="input-group-btn">
			                    <button class="btn btn-default" ngf-select ng-model="fle.attachFileEN" ngf-max-size="25MB"  ngf-model-invalid="fle.attachFileEN.invalidFile">เลือก</button>
			                    
			                  </span>
			                </p>
						</div>
						<label class="form-control-static col-lg-2">
							{{fle.attachFileEN.name}}
						</label>
						<div class="col
						<div class="col-lg-3">
							<div class="file-alert" ng-show="fle.attachFileEN.invalidFile.$error === 'maxSize'">ขนาดไฟล์ต้องไม่เกิน : {{fle.attachFileEN.invalidFile.$errorParam}}</div>
						</div>
					</div>
				<hr>
			</div>
		</div>
	</div>
</div>
<div class="row form-group" ng-show="FileList.length > 0">
	<div class="col-lg-12 text-center">
		<button class="btn btn-info" ng-click="save('attachfile-multi/update', FileList, FileName)">บันทึก</button>
	</div>
</div>
<div class="row form-group" ng-repeat="data in DataList">
	<div class="col-lg-12">
		<div class="row form-group">
			<label class="form-control-static col-lg-1">
				{{$index + 1}}
			</label>
			<label class="form-control-static col-lg-2">
				สถานะการแสดงผล
			</label>
			<div class="col-lg-9">
				<div class="btn-group">
	                <label class="btn btn-default btn-checkbox" ng-model="data.actives" uib-btn-radio="'Y'" ng-click="setActives('attachfile-multi/update/active', data.id, data.actives)">แสดง</label>
	                <label class="btn btn-default btn-checkbox" ng-model="data.actives" uib-btn-radio="'N'" ng-click="setActives('attachfile-multi/update/active', data.id, data.actives)">ไม่แสดง</label>
	            </div>
			</div>
		</div>
		<div class="row form-group" ng-repeat="sub_data in data.AttachFiles">
			<div class="col-lg-10 col-lg-offset-1">
				<a href="../{{ sub_data.file_path }}">{{ sub_data.display_name == null || sub_data.display_name == ''?sub_data.file_name:sub_data.display_name }}</a>
			</div>
		</div>
		<hr>
	</div>	

</div>
