<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:200px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-5 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.1em; color:#999;">
	      	<a href="#/" style="color: #999"><img src="../cio-files/img/1.png" height="25"> </a> 
	        <img src="../cio-files/img/pin-menu.png" height="18">
	        {{MenuName.menu_name_th}}

	        <span ng-show="MenuName.sub_menu != null">
	        	<img src="../cio-files/img/pin-menu.png" height="18">
				{{MenuName.sub_menu.menu_name_th}}	        	
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
	<div class="row form-group" style="margin-top: 20px; color: #071CA5; font-weight: bolder; font-size: 1.2em;">
		<div class="col-lg-12 text-center">
			{{ (DEFAULT_LANGUAGE == 'TH'?'ทำเนียบรัฐมนตรี':'ทำเนียบรัฐมนตรี') }}
			<br>
			<div style="background: url('../cio-files/img/line-bottom.png') no-repeat; height: 3px; width:480px; margin:0px auto; margin-top:20px;margin-bottom:15px;"></div>
		</div>
	</div>

	<div  ng-repeat="Palace in PalaceList">
		<div class="row form-group">
			<div class="col-lg-2 col-lg-offset-1 text-center">
				<img src="{{'../' + Palace.picture_path}}" style="width: 200px; height: 230px; border-radius: 50%;border:7px solid #8DCEFF;" ng-show="Palace.picture_path != null && AttachFile == null">
			</div>
			<div class="col-lg-9" style="padding-left: 5%;">
				<div class="row form-group">
					<div class="col-lg-12" style="font-size: 1.5em; color: #0000ff;">
						{{Palace.prefix_name_th + ' ' + Palace.firstname_th + ' ' + Palace.lastname_th}}
						<br>
						<span style="color: #000;">({{Palace.prefix_name_en + ' ' + Palace.firstname_en + ' ' + Palace.lastname_en}})</span>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2">
						<span bind-html-compile="DEFAULT_LANGUAGE=='TH'?'เอกสารคำสั่งแต่งตั้ง':'Appointment Document'">
					</div>
					<div class="col-lg-10">
						<div class="row form-group" ng-repeat="file in Palace.AttachFiles">
							<div class="col-lg-12">
										&nbsp;&nbsp;&nbsp;&nbsp;
										<a target="_self" href="../{{file.file_path}}" download="{{file.file_name}}">{{file.file_name}}</a>
									
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-12">
						<span bind-html-compile="DEFAULT_LANGUAGE=='TH'?'ดำรงตำแหน่งวันที่ ':'Date of holding '"></span>{{Palace.position_start_date | date:"MM/dd/yyyy"}} ถึง {{Palace.position_end_date==null || Palace.position_end_date=='0000-00-00'?'ปัจจุบัน':(Palace.position_end_date | date:"MM/dd/yyyy")}}
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div ng-include src="'views/footer.html'"></div>
</div>