<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-5 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <img src="../files/img/pin-menu.png">
	        ลิ้งค์ที่เกี่ยวข้อง
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
	<div class="row form-group" style="margin-top: 20px; color: #071CA5; font-weight: bolder; font-size: 1.2em;">
		<div class="col-lg-12 text-center">
			{{ (DEFAULT_LANGUAGE == 'TH'?'ลิ้งค์ที่เกี่ยวข้อง':'Relate Links') }}
			<br>
			<div style="background: url('../cio-files/img/line-bottom.png') no-repeat; height: 3px; width:480px; margin:0px auto; margin-top:20px;margin-bottom:15px;"></div>
		</div>
	</div>
	<div class="row form-group" style="padding: 15px;">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row form-group"  ng-repeat="link in LinkUrl">
				<div class="col-lg-12">
					<div class="row form-group">
						<div class="col-lg-12">
							<b>{{link.link_type}}</b>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-3" ng-repeat="data in link.data">
							<a target="_blank" href="{{data.link_url}}"><img src="{{ '../' + data.image_path }}" style="height:90px;"></a>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-include src="'views/footer.html'"></div>
</div>
