<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
	  <div class="col-lg-10">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
</div>

<div class="row" ng-show="PAGE == 'UPDATE'">	
	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			หัวข้อภาษาไทย
		</label>
		<div class="col-lg-10">
			<input class="form-control" ng-model="Data.title_th">
		</div>
	</div>
	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			หัวข้อภาษาอังกฤษ
		</label>
		<div class="col-lg-10">
			<input class="form-control" ng-model="Data.title_en">
		</div>
	</div>
	
	<div class="row form-group" ng-repeat="fle in FileList">
		<div class="col-lg-12">
			<div class="row">
				<label class="form-control-static col-lg-2">
					ไฟล์ภาษาไทย
				</label>
				<div class="col-lg-4" >
					<p class="input-group">
	                  <input type="text" class="form-control" ng-model="FileName[$index].name_th"   />
	                  <span class="input-group-btn">
	                    <button class="btn btn-default" ngf-select ng-model="fle.AttachFile.attachFileTH" ngf-max-size="25MB"  ngf-model-invalid="fle.AttachFile.attachFileTH.invalidFile">เลือก</button>
	                    
	                  </span>
	                </p>
				</div>
				<label class="form-control-static col-lg-2">
					{{fle.AttachFile.attachFileTH.name}}
				</label>
				
				<div class="col-lg-2"  ng-show="page_type == 'skr'">
					<input type="text" class="form-control" ng-model="FileCode[$index].code_th"   />
				</div>
				<div class="col-lg-3">
					<div class="file-alert" ng-show="fle.AttachFile.attachFileTH.invalidFile.$error === 'maxSize'">ขนาดไฟล์ต้องไม่เกิน : {{fle.AttachFile.attachFileTH.invalidFile.$errorParam}}</div>
				</div>
			</div>
			<div class="row">
				<label class="form-control-static col-lg-2">
					ไฟล์ภาษาอังกฤษ
				</label>
				<div class="col-lg-4" >
					<p class="input-group">
	                  <input type="text" class="form-control" ng-model="FileName[$index].name_en" />
	                  <span class="input-group-btn">
	                    <button class="btn btn-default" ngf-select ng-model="fle.AttachFile.attachFileEN" ngf-max-size="25MB"  ngf-model-invalid="fle.AttachFile.attachFileEN.invalidFile">เลือก</button>
	                    
	                  </span>
	                </p>
				</div>
				<label class="form-control-static col-lg-2">
					{{fle.AttachFile.attachFileEN.name}}
				</label>
				
				<div class="col-lg-2"  ng-show="page_type == 'skr'">
					<input type="text" class="form-control" ng-model="FileCode[$index].code_en"   />
				</div>
				<div class="col-lg-3">
					<div class="file-alert" ng-show="fle.AttachFile.attachFileEN.invalidFile.$error === 'maxSize'">ขนาดไฟล์ต้องไม่เกิน : {{fle.AttachFile.attachFileEN.invalidFile.$errorParam}}</div>
				</div>
			</div>
			
			<hr>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2">
			<button class="btn btn-primary pull-right" ng-click="addFiles()"> เพิ่มไฟล์</button>
		</div>
	</div>

	<div class="row form-group">
		<label class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-control-static">
			วันที่เผยแพร่
		</label>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
			<p class="input-group">
				<input type="text" class="form-control" ng-model="Data.publishing_date" uib-datepicker-popup="yyyy-MM-dd" is-open="popup1.opened" required="true">
				<span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
	        </p>
		</div>
	</div>

	<div class="row form-group">
		<label class="form-control-static col-lg-2">
			สถานะ
		</label>
		<div class="col-lg-10">
			<div class="btn-group">
                <label class="btn btn-default btn-checkbox" ng-model="Data.actives" uib-btn-radio="'Y'">ใช้งาน</label>
                <label class="btn btn-default btn-checkbox" ng-model="Data.actives" uib-btn-radio="'N'">ไม่ใช้งาน</label>
            </div>
		</div>
	</div>
	<div class="row form-group">
		<label class="form-control-static col-lg-12 text-center">
			<button class="btn btn-info" ng-click="saveData(Data, FileList, FileName)">บันทึก</button>
			<button class="btn btn-default" ng-click="cancel('MAIN')">ยกเลิก</button>
		</label>
	</div>
</div>

<div class="row" ng-show="PAGE == 'MAIN'">
	<div class="col-lg-12">
		<button ng-click="add()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> เพิ่ม</button>
	</div>
	<div class="col-lg-12 col-sm-12 col-xs-12" ng-repeat="data in DataList" style=" word-break:break-all;">
		<div class="row" style="height: 240px;">
			<div class="col-lg-3 text-center">
				<img src="../{{data.AttachFiles[0].file_path}}" alt="" style=" height: 250px; width: auto;">
			</div>
			<div class="col-lg-9">
				<div class="row form-group" >
					<label class="col-lg-6 form-control-static">
						{{data.title_th}}
					</label>
				</div>
				<div class="row form-group" >
					<div class="col-lg-6 ">
						<span style="color: #A5C7CE;">จำนวนเข้าชม {{data.visit_count==null?0:data.visit_count}} ครั้ง</span>
					</div>	
					<div class="col-lg-6">
						<span class=" pull-right" style="color:#A5C7CE;">
							<button class="btn btn-warning" ng-click="updateData(data)">แก้ไข</button>
							<button class="btn btn-danger" ng-click="removeData(data.id)">ลบ</button>
						</span>
					</div>	
					
				</div>
			</div>
		</div>
		
		<hr>
	</div>
	<div class="col-lg-12" style="text-align:center;" ng-show="tableLoad"><img src="img/ellipsis.gif"></div>
</div>